@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}
body, html {

    background-color: lightgray;
}
h1 {
    text-align: center;
}
header {
    background-color: rgb(175, 174, 174);
    padding: 10px
}
menu {
    display: none;
}

header ul {
    list-style-type: none;
}

header a {
    color: white;
    display: block;
    text-decoration: none;
    background-color: rgb(109, 107, 107);
    padding: 10px;
    text-align: center;
    border-top: 2px solid rgb(158, 156, 156);
}
span#burguer {
    background-color: rgb(83, 81, 81);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}
span#burguer:hover {
    background-color: rgba(104, 99, 99, 0.795);
    cursor: pointer;
}
menu a:hover {
    background-color: rgb(156, 155, 155);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}